<!DOCTYPE html>
<html>
	<head>
		<title>Twitter</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	</head>
	<body>
		<!-- render Nav Bar  -->
		<%= render 'layouts/nav'%>
		


<!-- container to keep it neat  -->
		<div class="container text-center">
			<!-- render Nav Bar  -->
			<%= render 'layouts/nav'%>
			<%= image_tag "logo.png", class: "burgerking"%>
			<!--Bird image  -->
			<p class="notice"><%= notice %></p>
		 	<p class="alert"><%= alert %></p>
			<div class="jumbotron">

				<%= yield %>
			</div>
		</div>

	</body>
</html>
