<!DOCTYPE html>
<html>
	<head>
		<title>Twitter</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<%= favicon_link_tag %>
		<!-- ビューポートの設定 -->
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>

	<body>

<!-- container to keep it neat  -->
		<div class="logo">
			<%= image_tag "burger.jpg", class: "burger"%>
			</div>
		<div class="container">
			<!-- render Nav Bar  -->
			<div class="navbar">
			<%= render 'layouts/nav'%>
			</div>
			<%= image_tag "burgerking.svg.png", class: "burgerking"%>
		</div>

			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		<div class="jumbotron">

				<%= yield %>

		</div>
	</body>
</html>
