<!DOCTYPE html>
<html>
	<head>
		<title>Burger King Sizzles</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<%= favicon_link_tag %>
	</head>
	<body>
		<!-- render Nav Bar  -->
		<div class="logo">
			<%= image_tag "logo.png", class: "burger" %>
		</div>
			<div class="container">
				<%= render 'layouts/nav'%>

				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>

				<%= yield %>

		</div>

	</body>
</html>
